<nav>
    <img src="{{imagen}}" alt="logo" class="logo">
    <div class="box">
        <div class="container-4">
            <input type="search" id="search" placeholder="Buscar..." [(ngModel)]="busqueda" />
            <button class="icon" routerLink="/buscarProducto/{{busqueda}}"><i class="fa fa-search"></i></button>
        </div>
        <ul>
            <li><a routerLink="/buscarProducto/1" href="">Limpieza</a></li>
            <li><a routerLink="/buscarProducto/2" href="">Cuidado Personal</a></li>
            <li><a routerLink="/buscarProducto/3" href="">Abarrotes</a></li>
            <li><a routerLink="/buscarProducto/4" href="">Frutas y Verduras</a></li>
            <li><a routerLink="/buscarProducto/5" href="">Embutidos</a></li>
            <li><a routerLink="/buscarProducto/6" href="">Mascotas</a></li>
            <li><a routerLink="/buscarProducto/7" href="">Bebidas</a></li>
        </ul>
    </div>
    <div class="menu">
        <a routerLink="/registrarUsuario" class="btn btn-light">Registrar</a>
        <a routerLink="/loginUsuario" class="btn btn-light" >Login</a>
    </div>
</nav>
