<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>Iniciar Sesión</h2>
    </div>



    <!-- Login Form -->
    <form>
      <input type="text" id="ruc" class="fadeIn third" name="login" placeholder="RUC">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Olvidé la contraseña</a>
    </div>

  </div>

</div>