.container {
    padding-top: 7rem;
}

.titulo {
    width: 100%;
    text-align: center;
}

.listado {
    width: 100%;
}

.pnombre {
    margin-left: 2%;
}

.botonbodega {
    width: 80%;
    height: 6vh;
    background-color: #f16a78;
    margin: 4%;
    border: 0px;
    border-radius: 15px;
    font-size: 1vw;
    color: white;
    font-weight: 900;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.pimagen {
    width: 8vw;
    height: 8vw;
    margin-left: 30%;
    border-radius: 5%;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.pprecio {
    margin-top: 10%;
    font-size: 2vw;
}

.bnombre {
    font-size: 1vw;
    color: #f16a78;
    margin-top: 4%;
}

.bdireccion {
    margin-top: 4%;
    font-size: 1vw;
}