.container {
    padding-top: 7rem;
}

.titulo {
    width: 100%;
    text-align: center;
}

.listado {
    width: 100%;
}

.pimagen {
    margin-left: 19%;
    width: 5vw;
    height: 5vw;
}

.pnombre {
    margin-left: 2%;
}

.pprecio {
    margin-top: 10%;
    font-size: 2vw;
}

.bnombre {
    font-size: 1vw;
    color: #f16a78;
    margin-top: 4%;
}

.bdireccion {
    margin-top: 4%;
    font-size: 1vw;
}

.bnombre {
    color: #f16a78;
    font-size: 1.5vw;
}

.bsub {
    color: #f16a78;
    font-size: 1vw;
}

.binfo {
    color: black;
    font-size: 0.7vw;
}

.resenastitulo {
    margin-left: 0.5%;
    margin-bottom: 3%;
    color: #f16a78;
    font-size: 1vw;
}

.cnombre {
    font-size: 0.8vw;
}

.rcontenido {
    font-size: 0.8vw;
}

#es {
    font-size: 1vw;
}

.pnombre {
    color: #f16a78;
    margin-bottom: 1%;
    font-size: 1vw;
}

.pprecio {
    font-size: 1.5vw;
    margin-top: 5%;
}

#botong {
    width: 80%;
    height: 6vh;
    background-color: #f16a78;
    margin: 4%;
    border: 0px;
    border-radius: 15px;
    font-size: 1vw;
    color: white;
    font-weight: 900;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.botonquitar {
    width: 6vw;
    height: 6vh;
    background-color: #f16a78;
    margin: 4%;
    border: 0px;
    border-radius: 15px;
    font-size: 1vw;
    color: white;
    font-weight: 900;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}