<div class="container">
    <div class="titulo">
        <h1><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> LISTA DE COMPRAS</h1>
    </div>
    <div class="lista">
        <div class="contenedor-lista">
            <div class="row">
                <div class="estilo-producto">
                    <div class="col">
                        <div class="row">
                            <h5>Producto-Nombre</h5>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="https://cdn.discordapp.com/attachments/700237020278030396/715743103738445824/fce5d0_7e3539aafb40477284039ec77340dc0emv2.png"
                                    alt="Producto" class="imagen-producto">
                            </div>
                            <div class="col">
                                <h6>Descripción</h6>
                                <p>Leche sin Lactosa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">Bodega</div>
                </div>
            </div>
        </div>
        <div class="precio">
            <h4>Costo Total: </h4>
        </div>
    </div>
</div>