#mapa3 {
    width: 100%;
    height: 30vh;
    border: 1px #CCCCCC solid;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.container {
    padding-top: 10rem;
    padding-bottom: 5%;
}

.product {
    margin-bottom: 15%;
}

.pimagen {
    width: 90%;
    height: 90%;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.pnombre {
    font-size: 3vh;
    color: #f16a78;
}

.pprecio {
    font-size: 3vh;
    color: #f16a78;
}

.pmarca {
    font-size: 2vh;
}

.pdes {
    font-size: 2vh;
}

.like-btn-svg {
    width: 50px;
    height: 30px;
    background: url(https://cdn.discordapp.com/attachments/700237020278030396/719745825013629048/corazon.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input:checked+.like-btn-svg {
    transition: background 1s steps(28);
    animation: fave-like-btn-svg 1s steps(28);
    background-position: -2800px 0;
}

@keyframes fave-like-btn-svg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2800px 0;
    }
}

.cuadrado {
    width: 50px;
    height: 50px;
    background-color: red;
}

.pbodeganombre {
    color: #f16a78;
    font-size: 30px;
}

.pbodegadireccion {
    font-size: 20px;
}

.pbodegaaforo {
    font-size: 20px;
}