<div class="container">
    <div class="row" style="margin-bottom: 5%;">
        <div class="col-4">
            <img class="pimagen" src="{{bp.producto.imagenprin}}" alt="Imagen Producto">
        </div>
        <div class="col-3">
            <div class="info">
                <div class="row">
                    <label class="pnombre">{{bp.producto.nombre}}</label>
                </div>
                <div class="row">

                    <label class="pprecio">S/.{{bp.precio}}</label>

                    <div>
                        <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>

                </div>
                <div class="row">
                    <label class="pmarca">{{bp.producto.marca}}</label>
                </div>

                <div class="row">
                    <label class="pdes">Descripción:</label>
                </div>
                <div class="row">

                    <label class="pdes">{{bp.descripcion}}</label>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div id="mapa3">
            </div>
        </div>

    </div>
    <hr style="border-color:#f16a78; width: 60%;border-width: 3px;border-radius: 25px;">

    <div class="row">
        <div class="col">
            <label>calificacion general de la bodega</label>
        </div>
        <div class="col">
            <div class="row">
                <label class="pbodeganombre" routerLink="/bodega/{{bp.bodega.codigo}}">{{bp.bodega.nombre}}</label>
            </div>
            <div class="row">
                <label class="pbodegadireccion">Dirección: </label>
            </div>
            <div class="row">
                <label class="pbodegadireccion">{{bp.bodega.direccion}}</label>
            </div>
            <div class="row">
                <label class="pbodegaaforo">Aforo:</label>
            </div>
            <div class="row">
                <label class="pbodegaaforo">{{bp.bodega.aforo}}</label>
            </div>
        </div>
        <div class="col">
            <label>Aquí debería estar la imagende la bodega</label>
        </div>
    </div>
</div>