<div class="container" id="Inicio">
    <div class="row">
        <div class="col" style="text-align:  center;">
            <h1 class="bnombre">{{bodega.nombre}} </h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5%;">
        <div class="col-4">
            <img class="bimagen" src="data:image/jpeg;base64,{{bodega.imagen}}" alt="Imagen Producto">
        </div>
        <div class="col" id="info">
            <div class="row">
                <label class="bdireccion">Dirección </label>
            </div>
            <div class="row">
                <label class="bdireccionb">{{bodega.direccion}} </label>
            </div>
            <div class="row">
                <label class="baforo">Aforo</label>
            </div>
            <div class="row">
                <label class="baforob">{{bodega.aforo}} </label>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <button class="botonbodega" routerLink="/registrarBP">Agregar Nuevo Producto</button>
            </div>
            <div class="row">
                <button class="botonbodega" routerLink="/actualizarBodega">Actualizar Información de la Bodega</button>
            </div>
            <div class="row">
                <button class="botonbodega" routerLink="/visualizarBodegaProductos">Mis Productos</button>
            </div>
        </div>

    </div>
    <hr style="border-color:#f16a78; width: 50%;border-width: 3px;border-radius: 25px;">
    <div class="row" style="margin-top: 5%;">
        <div class="col">

            <div class="row">
                <label class="resenastitulo">Calificaciones y comentarios de tu bodega</label>
            </div>
            <div class="row">
                <div class="resenas">
                    <div *ngFor="let p of bodega.resena">
                        <div class="row" style="margin-left: 5%;">
                            <label class="cnombre"> {{p.cliente.nombre}} {{p.cliente.apellido}}</label>
                        </div>
                        <div class="row" style="margin-left: 5%;">
                            <div *ngFor="let number of [1,2,3,4,5]">
                                <div *ngIf="number <= p.calificacion; else elseBlock">
                                    <label id="es" style="color: goldenrod;">★</label>
                                </div>
                                <ng-template #elseBlock>
                                    <label id="es" style="color: grey;">★</label>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 5%;">
                            <label class="rcontenido">{{p.contenido}}</label>
                        </div>
                        <hr style="border-color:grey; width: 90%;border-width: 2px;border-radius: 5px;">

                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            <div id="mapa2">
            </div>
        </div>
    </div>