<div class="contenido">
    <h1>Cuéntanos, ¿Quién eres?</h1>

    <div class="eleccion">
        <div class="row">
            <div class="col">
                <img src="https://cdn.discordapp.com/attachments/705952300526731295/715382710092300308/dibujos-animados-hombre-cliente-cesta-carne-tarjetas-bancarias_24908-59353.png"
                    alt="hola">
            </div>
            <div class="col">
                <img src="https://cdn.discordapp.com/attachments/700237020278030396/715360677446811728/2f861ac9727d8bfa4613be12d193e30f.png"
                    alt="hola">
            </div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col">
                <a routerLink="/registrarCliente" class="btn btn-info"> Cliente</a>
            </div>
            <div class="col">
                <a routerLink="/registrarBodega" class="btn btn-info">Bodega</a>
            </div>
        </div>
    </div>

</div>