<h1>{{title}}</h1>

<div>
    <nav>
        <a routerLink="registrarUsuario" class="btn btn-primary active">Registrar</a>
        <a routerLink="loginUsuario" class="btn btn-primary active">Login</a>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Limpieza</th>
                    <th>Cuidado Personal</th>
                    <th>Abarrotes</th>
                    <th>Frutas y Verduras</th>
                    <th>Embutidos</th>
                    <th>Mascotas</th>
                    <th>Bebidas</th>
                </tr>
            </thead>
        </table>
    </nav>
</div>
<router-outlet></router-outlet>