nav{
  position: fixed;
  width: 100%;
  z-index: 100;
  margin-bottom: 1%;
}


img{
    width: 40px;
    height: 40px;
}

.login-buttoms{
  color: #F16A78;
}

.box{
    display: inline-block;
    text-align: center;
    width: 70%;
    margin-top: 0.5%;
    margin-left: 1%;
    border: none;
}
.container-4{
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
  }
  .container-4 input#search{
    width: 100%;
    height: 40px;
    background: white;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0.5px #F8F9FA solid;
  }
  .container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
    border: none;
 }
  
 .container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
    border: none;
 }
  
 .container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
    border: none;
 }
  
 .container-4 input#search:-ms-input-placeholder {  
    color: #65737e;  
    border: none;
 }

 .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    background: #232833;
    height: 40px;
    width: 50px;
    color:#F8F9FA;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }

  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
  .container-4:hover button.icon:hover{
    background: #232833;
  }