<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-4" style="border:3px green solid;">
            <img class="bimagen" src="https://cdn.discordapp.com/attachments/715442203870363758/727046476798361742/chevereperotoyjato.jpg" alt="Imagen Producto">
        </div>
        <div class="col-3" style="border:3px green solid;">
            <div class="row">
                <label class="bnombre">{{bod.nombre}}</label>
            </div>
            <div class="row">
                <label class="bsub">Direccion:</label>
            </div>
            <div class="row">
                <label class="binfo">{{bod.direccion}}</label>
            </div>
            <div class="row">
                <label class="bsub">Email de contacto:</label>
            </div>
            <div class="row">
                <label class="binfo">{{bod.email}}</label>
            </div>
            <div class="row">
                <label class="bsub">Agencias bancarias: </label>
            </div>
            <div class="row">
                <label class="binfo">{{bod.agencia_bancaria}}</label>
            </div>

        </div>
        <div class="col-5" style="border:3px green solid;">
            <div id="mapa">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="border: 3px red solid">
            <div class="resenas">
                <div *ngFor="let p of bod.resena">
                    <div class="row">
                        <label class="Calificacion"> {{p.cliente.nombre}} {{p.cliente.apellido}}</label>
                    </div>
                    <div class="row">
                        <div *ngFor="let number of [1,2,3,4,5]">
                            <div *ngIf="number <= p.calificacion; else elseBlock">
                                <label id="es" style="color: goldenrod;">★</label>
                            </div>
                            <ng-template #elseBlock>
                                <label id="es" style="color: grey;">★</label>
                            </ng-template>
                        </div>
                    </div>
                    <div class="row">
                        <label class="Contenido">Contenido: {{p.contenido}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="listado">
    <div *ngFor="let p of bod.productos">
        <div class="col">
            <div class="product">
                <label class="pnombre" routerLink="/producto/{{bod.codigo}}/{{p.producto.codigo}}">
                    {{p.producto.nombre}}</label>
                <img class="pimagen" src={{p.producto.imagenprin}} alt="f">
                <div class="row">
                    <label class="pprecio">S/. {{p.precio}}</label>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="bodega">
    <div class="col"> Reseñas:

    </div>
    <div class="g">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="botong">
            Deja tus comentarios
        </button>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-body">
                        <form (ngSubmit)="save()" #clienteForm="ngForm">
                            <div class="form-group">
                                <label for="calificacion">Calificacion</label>
                                <input type="text" class="form-control" id="calificacion" [(ngModel)]="re.calificacion" name="calificacion">
                            </div>
                            <div class="form-group">
                                <label for="contenido">Contenido</label>
                                <input type="text" class="form-control" id="contenido" [(ngModel)]="re.contenido" name="contenido">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success" [disabled]="!clienteForm.form.valid">Enviar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>