<div class="card border-dark mb-3">
    <div class="card-header">Productos</div>
    <div class="card-body text-dark">
        <h5 class ="card-title">Listado de Productos</h5>
    </div>
    <div>
        <label for="lblNombre">Nombre</label>
        <input type="text" class="form-control" id="lblNombre" name="lblNombre" [(ngModel)]="nombre">
        <label for="lblCtg">Categoria</label>
        <input type="number" class="form-control" id="lblCtg" name="lblCtg" [(ngModel)]="categoria">
        <button (click) = "buscar()">Enviar</button>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of productos">
                <th>{{p.codigo}}</th>
                <th>{{p.nombre}}</th>
                <th>{{p.categoria.codigo}}</th>
            </tr>
        </tbody>
    </table>
</div>
