<body>
    <div class="contenido">
        <div class="criterios">
            <div class="precio">
                <label class="lblranprecios">Rango de Precios</label>
                <div class="rangoprecios">
                    <input type="number" class="minimo" style="width: 80px; height: 30px" [(ngModel)]="pmin"
                        placeholder="  Desde">
                    <input type="number" class="maximo" style="width: 80px; height: 30px" [(ngModel)]="pmax"
                        placeholder="  Hasta">
                </div>
            </div>
            <div class="marca">
                <label class="lblranprecios">Marca</label>
                <input type="text" style="width: 200px; height: 30px" [(ngModel)]="nombre_marca">
            </div>
            <div class="bodega">
                <label class="lblranprecios">Bodega</label>
                <input type="text" style="width: 200px; height: 30px" [(ngModel)]="nombre_bodega">
            </div>
            <div class="form-group">
                <button type="submit" (click)=actualizarDatos() class="btn btn-info">Actualizar</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div *ngFor="let bp of descargarData(); let j = index ">
                    <div class="col">
                        <div class="product">
                            <div>
                                <label class="pnombre" routerLink="/busqueda/Bodega/Producto/{{bp.codigo}}"
                                    id="cursor_producto">
                                    {{bp.producto.nombre}}</label>
                            </div>
                            <div class="row" id="cursor_producto">
                                <img class="pimagen" src="data:image/jpeg;base64,{{bp.imagen}}" alt="Imagen Producto">
                            </div>
                            <div class="row">
                                <label class="pbodega" routerLink="/bodega/{{bp.bodega.codigo}}" id="cursor_producto">
                                    {{bp.bodega.nombre}}</label>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="pprecio">S/. {{bp.precio}}</label>
                                </div>
                                <div class="col" id="caja_agregar">
                                    <a (click)="agregarLista(bp.codigo)" id="agregar_lista"
                                        style="color:{{corazoncss}}"><i class={{corazon}} aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>