<h3>Registro de Bodega-Producto</h3>
<div>
    <form (ngSubmit) = "save()" #registrarForm="ngForm">
        <div class="form-group">
            <label for="productoid">Producto ID</label>
            <input type="number" class = "form-control" id="productoid" [(ngModel)]="pid" name="productoid" required #productoid="ngModel">
        </div>
        <div class="form-group">
            <label for="bodegaid">Bodega ID</label>
            <input type="number" class = "form-control" id="bodegaid" [(ngModel)]="bid" name="bodegaid" required #bodegaid="ngModel">
        </div>
        <div class="form-group">
            <label for="Precio">Precio</label>
            <input type="number" class = "form-control" id="Precio" [(ngModel)]="precio" name="Precio" required #Precio="ngModel">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="registrarForm.form.invalid">Registrar</button>    
        </div>
    </form>
</div>