<div class="contenido">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                   <button class="btn btn-outline-secondary" type="button">Categorias</button>
                   <select class="custom-select" id="select">
                        <option selected>Elije una Categoría</option>
                        <option *ngFor="let c of categorias" value="{{c.codigo}}">{{c.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <select class="custom-select" id="select">
                        <option selected>Elije un Producto</option>
                        <option *ngFor="let p of productos">{{p.nombre}} - {{p.marca}}</option>
                    </select>
                    <label class="input-group-text" for="inputGroupSelect01">Productos</label>
                </div>
            </div>
        </div>
    </div>


</div>