<p>registrar-producto works!</p>
<h3>Registro de Producto</h3>
<div class = "contenido">
    <form (ngSubmit) = "save()" #registrarForm="ngForm">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class = "form-control" id="nombre" [(ngModel)]="producto.nombre" name="nombre" required #nombre="ngModel">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf = "nombre.errors.required">
                    Nombre es requerido
                </div>
            </div>
            <label for="marca">Marca</label>
            <input type="text" class = "form-control" id="marca" [(ngModel)]="producto.marca" name="marca" required #marca="ngModel">
            <div class="alert alert-danger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
                <div *ngIf = "marca.errors.required">
                    Marca es requerido
                </div>
            </div>
            <label for="imagenprin">URL Imagen</label>
            <input type="text" class = "form-control" id="imagenprin" [(ngModel)]="producto.imagenprin" name="imagenprin" required #imagenprin="ngModel">
            <div class="alert alert-danger" *ngIf="imagenprin.invalid && (imagenprin.dirty || imagenprin.touched)">
                <div *ngIf = "imagenprin.errors.required">
                    URL de la imagen es requerido
                </div>
            </div>
            <div class="form-group">
                <label for="cid">Categoria ID</label>
                <input type="text" class = "form-control" id="cid" [(ngModel)]="cid" name="cid" required #edad="ngModel">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="registrarForm.form.invalid">Registrar</button>    
        </div>
    </form>
</div>